@inherits LayoutComponentBase
@using MudBlazor
@using mpitfinal2026blazor.Models;
@using System.Text.Json;
@inject NavigationManager navigationManager
@inject Services.ProfileService profileService
@inject Services.StorageService storageService

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout Style="display: flex; flex-direction: column; min-height: 100vh;">
    <MudAppBar Elevation="0" Style="background-color: #453799;">
        <MudButton Color="Color.Inherit" Style="background-color: #453799;" edge="Edge.Start" OnClick="@((e) => DrawerToggle())">
            <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="0">
                <MudIcon Icon="@Icons.Material.Filled.Menu" />
            </MudStack>
        </MudButton>
        <MudSpacer />
        <img class="bg-white p-1 rounded-2" src="core.png" style="height: 1.8rem;"/>
        <MudSpacer />
        @if (!isLoggedIn){
            <MudButton Href="/login" class="text-white">вход</MudButton>
            <MudButton Href="/register" Class="text-white">регистрация</MudButton>
        }
        else
        {
            <MudStack Row="true" Class="d-flex align-items-center">
                <MudMenu Color="Color.Inherit" Class="text-white" Label="@name">
                    <MudMenuItem Href="/profile">Профиль</MudMenuItem>
                    <MudMenuItem OnClick="LogOut">Выйти</MudMenuItem>
                </MudMenu>
            </MudStack>
        }
    </MudAppBar>

    <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        @switch (user?.UserType)
        {
            case "teacher":
                <TeacherNavMenu />
                break;
            case "parent":
                <ParentNavMenu />
                break;
            case "student":
                <StudentNavMenu />
                break;
            default:
                <NavMenu />
                break;
        }
    </MudDrawer>

    <MudMainContent Class="pt-16 pa-4 flex-grow-1">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private MudTheme _theme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = "#3e64ff",
            Secondary = "#ffffff",
            AppbarBackground = "#ffffff",
        },
        Typography = new Typography()
        {
            Default = new DefaultTypography()
            {
                FontFamily = new[] { "Inter", "sans-serif" }
            }
        }
    };
    private bool _drawerOpen = false;
    private bool isLoggedIn = false;
    private string name = string.Empty;
    private User? user;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        string? refreshToken = await storageService.GetItemAsync<string>("refresh_token");
        if (refreshToken != null)
        {
            string accessToken = await profileService.GetAccessToken(refreshToken);
            if(accessToken != string.Empty)
            {
                var userJson = await profileService.GetYourself(accessToken);
                if (userJson != null)
                {
                    user = JsonSerializer.Deserialize<User>(userJson.ToString()!, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
                    if(user != null)
                    {
                        isLoggedIn = true;
                        name = user.FirstName;
                    }
                }
            }
        }
    }

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private void OnThemeChangedHandler()
    {
        InvokeAsync(StateHasChanged);
    }

    private async Task LogOut()
    {
        await storageService.ClearAsync();

        navigationManager.NavigateTo("/", forceLoad: true);
    }

    // Controls
    private void Profile_Click()
    {
        navigationManager.NavigateTo("/login");
    }
}

